[user]
	name = Huaqo
	email = 63307192+Huaqo@users.noreply.github.com
[http]
	cookiefile = %USERPROFILE%\\.gitcookies
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[pull]
	rebase = false
